<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>新闻页面-- <%= msg %></h1>
    <ul>
        <%for(var i = 0; i< list.length; i++){%>
           <li> <%= list[i]%> </li>
        <%}%>
    </ul>
    <h2><%=helper.helper()%></h2>
    <!-- 这里用绝对路径方便  ip /public/01.jpg -->
    <img src="/public/01.jpg" alt="">
</body>
</html>